<p>
    Tela de Login
</p>

<div>
    {{ mensagemLogadoNaoLogado() }}
</div>

@if (!isLogado()) {
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td>
                    Usuário
                </td>
                <td>
                    <input id="username" type="text"  formControlName="username">
                </td>
            </tr>
            <tr>
                <td>
                    Senha
                </td>
                <td>
                    <input id="password" type="password" formControlName="password">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
} @else {
    <div>
        <button (click)="deslogar()" >Sair</button>
    </div>
}
<div *ngIf="idLoading()">carregando...</div>

<div *ngIf="hasErroDeLogin()">ops, usuário e/ou senha inválido...</div>
